# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
lib64/
bin/
include/
share/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
*.swp
.DS_Store
Thumbs.db
